<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nbs.client.assassins"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="com.nbs.client.assassins.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.nbs.client.assassins.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Location service is started and Alarms are set for match start times. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.nbs.client.assassins.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.nbs.client.assassins.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.nbs.client.assassins.services.GCMIntentService_" />
        <service android:name="com.nbs.client.assassins.services.LocationService_" />

        <receiver
            android:name="com.nbs.client.assassins.services.GCMBroadcastReceiverImpl"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.nbs.client.assassins" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.nbs.client.assassins.services.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".controllers.MainActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.LoginActivity_"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:name=".controllers.CreateAccountActivity_"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:name=".controllers.CreateMatchActivity_"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:name=".controllers.JoinMatchActivity_"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:name=".controllers.MatchBoundsActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name=".controllers.GameplayActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
    </application>

</manifest>